.navbar{
    display: flex;
    justify-content: flex-end;
    background-color: #00549A;
    font-weight: 300;
    padding: 0.5rem 2rem;
}

.navItem{
    padding: 0.5rem;
    font-weight: 500;
    
    text-decoration: none;
    color: azure;
    align-self: center;
}


.navItem .button:focus{
   
    box-shadow: 0px 0px 5px 5px rgb(23, 236, 190);
    outline: none;
}

.navItem button {
    background: none;
    border: none;
    padding: 0;
    color: azure;
    text-decoration: underline;
    cursor: pointer;
  
  }

